@import 'tailwindcss';

.button {
  height: 48px;
  min-height: 48px;
  width: min-content;
  min-width: 156px;
  font-weight: 700;
  font-size: 12px;
  border-radius: 8px;
  border-width: 0;
  border-color: transparent;
  transition: background-color 0.1s ease-in-out;
  white-space: nowrap;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    flex-shrink: 0;
    margin-right: 8px;
  }
}

.basic {
  border: 2px solid var(--basic-border-color);
  background-color: var(--basic-color);
}

.transparent {
  border-color: var(--background1-color);
  background-color: var(--background1-color);
}

.basic,
.transparent {
  color: var(--text2-color);
  border: 2px solid var(--basic-border-color);
  background-color: var(--basic-color);

  svg {
    color: var(--text2-color);
  }

  &:hover {
    color: var(--text2-color-hover);
    background-color: var(--basic-color-hover);
  }

  &:active {
    color: var(--text2-color-pressed);
    background-color: var(--basic-color-pressed);
  }
}

.primary {
  color: var(--text5-color);
  background-color: var(--primary-color);

  svg {
    color: var(--text5-color);
  }

  &:hover {
    color: var(--text5-color-hover);
    background-color: var(--primary-color-hover);
  }

  &:active {
    color: var(--text5-color-pressed);
    background-color: var(--primary-color-pressed);
  }
}

.accept {
  color: var(--text5-color);
  background-color: var(--accept-color);
  border: 2px solid var(--accept-border-color);

  svg {
    color: var(--text5-color);
  }

  &:hover {
    color: var(--text5-color-hover);
    background-color: var(--accept-color-hover);
  }

  &:active {
    color: var(--text5-color-pressed);
    background-color: var(--accept-color-pressed);
  }
}

.cancel {
  color: var(--text5-color);
  background-color: var(--cancel-color);
  border: 2px solid var(--cancel-color);

  svg {
    color: var(--text5-color);
  }

  &:hover {
    color: var(--text5-color-hover);
    background-color: var(--cancel-color-hover);
  }

  &:active {
    color: var(--text5-color-pressed);
    background-color: var(--cancel-color-pressed);
  }
}

.accent1 {
  color: var(--text5-color);
  background-color: var(--accent1-color);
  border: 2px solid var(--accent1-border-color);

  svg {
    color: var(--text5-color);
  }

  &:hover {
    color: var(--text5-color-hover);
    background-color: var(--accent1-color-hover);
  }

  &:active {
    color: var(--text5-color-pressed);
    background-color: var(--accent1-color-pressed);
  }
}

.accent2 {
  color: var(--text5-color);
  background-color: var(--accent2-color);
  border: 2px solid var(--accent2-border-color);

  svg {
    color: var(--text5-color);
  }

  &:hover {
    color: var(--text5-color-hover);
    background-color: var(--accent2-color-hover);
  }

  &:active {
    color: var(--text5-color-pressed);
    background-color: var(--accent2-color-pressed);
  }
}

.accent3 {
  color: var(--text5-color);
  background-color: var(--accent3-color);
  border: 2px solid var(--accent3-border-color);

  svg {
    color: var(--text5-color);
  }

  &:hover {
    color: var(--text5-color-hover);
    background-color: var(--accent3-color-hover);
  }

  &:active {
    color: var(--text5-color-pressed);
    background-color: var(--accent3-color-pressed);
  }
}

.accent4 {
  color: var(--text5-color);
  background-color: var(--accent4-color);
  border: 2px solid var(--accent4-border-color);

  svg {
    color: var(--text5-color);
  }

  &:hover {
    color: var(--text5-color-hover);
    background-color: var(--accent4-color-hover);
  }

  &:active {
    color: var(--text5-color-pressed);
    background-color: var(--accent4-color-pressed);
  }
}

.accent5 {
  color: var(--text5-color);
  background-color: var(--accent5-color);
  border: 2px solid var(--accent5-border-color);

  svg {
    color: var(--text5-color);
  }

  &:hover {
    color: var(--text5-color-hover);
    background-color: var(--accent5-color-hover);
  }

  &:active {
    color: var(--text5-color-pressed);
    background-color: var(--accent5-color-pressed);
  }
}

.accent6 {
  color: var(--text5-color);
  background-color: var(--accent6-color);
  border: 2px solid var(--accent6-color);

  svg {
    color: var(--text5-color);
  }

  &:hover {
    color: var(--text5-color-hover);
    background-color: var(--accent6-color-hover);
  }

  &:active {
    color: var(--text5-color-pressed);
    background-color: var(--accent6-color-pressed);
  }
}

.button:disabled {
  border-color: transparent;
  cursor: not-allowed;
  color: var(--disabled-text-color);
  opacity: 0.7;
  background-color: var(--disabled-bg-color);
}

:global(.keyboard-user) .button:focus {
  border-color: transparent;
}

.sm {
  height: 32px;
  min-height: 32px;
  min-width: 100px;
  padding: 0 8px;
}

.lg,
.xl {
  border-radius: 32px;
  padding: 0 48px;
  font-size: 16px;
}

.lg {
  height: 48px;
}

.xl {
  height: 64px;
}

.thin {
  min-height: 41px;
  height: 41px;
  &:hover {
    color: var(--text5-color-hover);
  }
}

.thick {
  height: 53px;
}

.signin {
  border: 2px solid #007ab8;
  background-color: transparent;
  color: #007ab8;
  box-sizing: border-box;
  border-radius: 13px;
}

.landing {
  border: 2px solid #007ab8;
  background-color: #007ab8;
  color: var(--text5-color);
  box-sizing: border-box;
  border-radius: 13px;
  &:hover {
    background-color: #008bd1;
  }
  &:active {
    background-color: #00699e;
  }
}

.text {
  border: none;
  background-color: var(--transparent);
  color: var(--primary-color);
  padding: 0px;
  box-sizing: border-box;
}
