@import 'tailwindcss';
@import './variants.css';

.column {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-basis: auto;
}

.xs-gap > * {
  margin-bottom: var(--spacing-xs);
}

.sm-gap > * {
  margin-bottom: var(--spacing-sm);
}

.md-gap > * {
  margin-bottom: var(--spacing-md);
}

.lg-gap > * {
  margin-bottom: var(--spacing-lg);
}

.xl-gap > * {
  margin-bottom: var(--spacing-xl);
}

.xs-padding {
  padding: var(--spacing-xs);
}

.sm-padding {
  padding: var(--spacing-sm);
}

.md-padding {
  padding: var(--spacing-md);
}

.lg-padding {
  padding: var(--spacing-lg);
}

.xl-padding {
  padding: var(--spacing-xl);
}

.center {
  align-items: center;
  text-align: center;
}

.center-vertical {
  justify-content: center;
}

.center-md {
  @variant vr-lg {
    align-items: center;
    text-align: center;
  }
}

.center-vertical-md {
  @variant vr-lg {
    justify-content: center;
  }
}

.grow {
  flex-grow: 1;
}

.overflow {
  overflow-y: auto;
}

.margin-0-last-child > :last-child {
  margin-bottom: 0;
}
