.label {
  margin-bottom: 8px;
  color: var(--text3-color);
  align-self: flex-start;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  white-space: break-spaces;
  line-height: 1.2rem;
}

.fullWidth {
  max-width: 100%;
}

.error {
  margin-top: 8px;
  color: var(--error-color);
  align-self: flex-start;
}

.info {
  margin-top: 8px;
  color: var(--text2-color);
  align-self: flex-start;
}

.info,
.error {
  font-size: 10px;
}
